body {
  background: #92bbea;
  display: flex;
  font-family: 'Muli', sans-serif;
}

#root{
  width: 100%;
}

.contract, .existing-contracts {
  display: block;
  padding: 15px 40px 40px;
  border: 1px solid #ddd;
  background-color: #fff;
  margin: 30px auto;
  max-width: 500px;
  border-radius: 8px;
}

h2 {
  margin: 10px;
  padding: 10px;
  border-bottom: 1px solid #eee;
  text-align: center;
}

label {
  display: flex;
  flex-direction: column;
  color: #aaa;
  margin: 20px;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  margin-top: 2px;
}

.button {
  background-color: #206ead;
  color: white;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  margin: 20px;
  padding: 12px 25px;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  border-radius: 8px;
}
.button:hover {
  background-color: #1a5d94;
}

.existing-contract ul {
  padding: 10px;
  margin: 20px;
  background-color: #9cffe8;
  border-radius: 8px;
}

.existing-contract ul > li {
  list-style: none;
  display: flex;
  margin: 10px;
}

.existing-contract ul > li > div {
  margin: 0 5px;
}

.existing-contract ul > li > :first-child {
  font-weight: bold;
}

.existing-contract .pending {
  color: #ffffff;
  text-align: center;
  width: fit-content;
  margin: 0 auto;
  background: #ff7b00;
  padding: 5px 15px;
  border-radius: 20px;
}
.existing-contract .complete {
  color: #ffffff;
  text-align: center;
  width: fit-content;
  margin: 0 auto;
  background: #5aa75a;
  padding: 5px 15px;
  border-radius: 20px;
}

#container p{
  text-align: center;
  color: #b7b7b7;
  padding-top: 1.5rem;
}
